<div id="ground">
  <app-wafflecone></app-wafflecone>
</div>
<app-skybox></app-skybox>
<div id="controls">
  <div id="sliders">
    <app-slider label="Hunger" [p]="attributes.hunger"></app-slider>
    <app-slider label="Thirst" [p]="attributes.thirst"></app-slider>
    <app-slider label="Boredom" [p]="attributes.boredom"></app-slider>
  </div>
  <div id="interactions">
    <div id="food">
      <app-interaction type="food" (drop)="attributes.feed(0.3)" img="/assets/imgs/interactions/cookie.png"></app-interaction>
    </div>
    <!-- <img *ngFor="let ghost of ghosts.getGhosts()" [ngClass]="{hidden: !ghost.active}" [src]="ghost.img" alt="" class="ghost"
      [ngStyle]="{top: ghost.y+'px', left: ghost.x+'px'}">
  </div> -->
</div>