<div id="ground">
  <app-wafflecone></app-wafflecone>
</div>
<app-skybox></app-skybox>
<div id="controls">
  <div id="sliders">
    <app-slider label="Hunger" [p]="attributes.hunger"></app-slider>
    <app-slider label="Thirst" [p]="attributes.thirst"></app-slider>
    <app-slider label="Boredom" [p]="attributes.boredom"></app-slider>
  </div>
  <div id="interactions">
    <div id="food">
      <app-interaction type="food" (drop)="attributes.feed(0.2)" img="/assets/imgs/interactions/cookie.png">
      </app-interaction>
      <app-interaction type="food" (drop)="attributes.feed(0.3)" img="/assets/imgs/interactions/fish.png">
      </app-interaction>
      <app-interaction type="food" (drop)="attributes.feed(0.6)" img="/assets/imgs/interactions/hamburger.png">
      </app-interaction>
    </div>
    <div id="drink">
      <app-interaction type="drink" (drop)="attributes.water(0.6)" img="/assets/imgs/interactions/water.png">
      </app-interaction>
      <app-interaction type="drink" (drop)="attributes.water(0.3)" img="/assets/imgs/interactions/cola.png">
      </app-interaction>
    </div>
    <div id="food_and_drink">
      <app-interaction type="food" (drop)="attributes.feed(0.2)" img="/assets/imgs/interactions/cookie.png">
      </app-interaction>
      <app-interaction type="food" (drop)="attributes.feed(0.3)" img="/assets/imgs/interactions/fish.png">
      </app-interaction>
      <app-interaction type="food" (drop)="attributes.feed(0.6)" img="/assets/imgs/interactions/hamburger.png">
      </app-interaction>
      <app-interaction type="drink" (drop)="attributes.water(0.6)" img="/assets/imgs/interactions/water.png">
      </app-interaction>
      <app-interaction type="drink" (drop)="attributes.water(0.3)" img="/assets/imgs/interactions/cola.png">
      </app-interaction>
    </div>
    <div id="toys">
      <app-interaction type="toy" (drop)="attributes.play(0.2)" img="/assets/imgs/interactions/yarn.png">
      </app-interaction>
      <app-interaction type="toy" (drop)="attributes.play(0.3)" img="/assets/imgs/interactions/laserpointer.png" ghostImg="/assets/imgs/interactions/laserdot.png">
      </app-interaction>
      <app-interaction type="toy" (drop)="attributes.play(0.2)" img="/assets/imgs/interactions/gnome.png">
      </app-interaction>
    </div>
  </div>