svg {
    width: 100%;
    height: 100%;

    * {
        transition: transform 0.2s ease;
    }
}

svg,
svg * {
    transform-box: fill-box;
}

#face,
#front_paws,
#collar {
    pointer-events: none;
}

svg.idle {
    #eyes > * {
        transform-origin: center;
        animation: squish 10s infinite alternate ease-in-out;
        &#left_eye {
            animation-delay: 0.05s;
        }
    }

    #tail {
        transform-origin: 0 100%;
        animation: wiggle 0.3s infinite alternate ease-in-out;
    }

    #front {
        transform-origin: 50% 80%;
        animation: wiggle 3s infinite alternate ease-in-out;
    }

    #front_paws > * {
        transform-origin: 50% 0;
        animation: wiggle 2s infinite alternate ease-in-out;
    }

    #whiskers * {
        transform-origin: 100% 50%;
        animation: wiggle 2s infinite alternate ease-in-out;

        @for $i from 1 to 4 {
            &#whisker_#{$i} {
                transform-origin: 0 50%;
            }
        }

        &:nth-of-type(2n) {
            animation-delay: 0.8s;
        }
    }
}

svg.reach {
    #tail {
        transform-origin: 0 100%;
        animation: wiggle 0.3s infinite alternate ease-in-out;
    }

    #front {
        transform-origin: 50% 80%;
        transform: rotate(var(--angle));
    }

    #front_paws {
        transform: translateY(-20%);
    }

    #left_front_paw,
    #right_front_paw {
        transform-origin: 50% -20%;
        transform: rotate(var(--arm-angle));
    }

    #eyes > * {
        transform-origin: center;
        transform: rotate(calc(var(--arm-angle) + 90deg)) translateX(50%);
    }

    #mouth {
        transform-origin: center;
        transform: scale(1.5);
    }
}

@keyframes squish {
    0%,
    98% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0.1);
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(2deg);
    }
}


#hand {
    
    &:not(.active) {
        display: none;
    }

    &.active {
        animation: pat 0.2s infinite alternate ease-out;
    }
}

@keyframes pat {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}