@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400%3B900&display=swap');


* {
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-image: linear-gradient(135deg, #afe5ff, #affeff);
    font-family: "Roboto", sans-serif;
}

.ghost {
    max-width: 50px;
    max-height: 50px;
    pointer-events: none;
    opacity: 1.0;
    position: fixed;
    transform: translate(-50%, -50%) scale(1.8);
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;

    &.hidden {
        opacity: 0;
        transform: translate(-50%, -50%) scale(2.3) ;
    }
}