:host {
    display: block;
}

div {
    margin-left: auto;
    min-height: 1.5em;
    font-weight: 900;
    border-radius: 10000000px;
    box-shadow: 0 2px 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media screen and (orientation: landscape) {
        width: 40%;
    }
}